<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        旅行筆記
      </a>
      <div>
        <a href="/List" class="btn btn-warning mx-1">旅行列表
        </a>
        <a href="/create" class="btn btn-warning mx-1">新增旅行
        </a>
      </div>
    </div>
  </nav>
</header>